* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font);
  background: rgba(var(--light));
  overflow-x: hidden;
}

.App {
  position: relative;
}
